<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': postLoveIts > 0,
  'list-group-item-danger': postLoveIts < 0
}">
  <h4>{{postName}}</h4>
  <p>{{postContent}}</p>
  <p>Posted on {{postDate | date: 'short'}}</p>
  <button class="btn-success" (click)="likePost()">Like it !</button>&nbsp;<button (click)="dislikePost()" class="btn-danger">Don't like it !</button>
</li>
